.monDetails{
  width: 25vw;
  display: flex;
  flex-direction: column;
  flex: none;
  padding: 2em 1em;
}

.mon_card{
  display: flex;
  text-align: justify;
  width: 100% !important;
}

.flavor_text{
  text-align: justify;
}

.mon_svg{
  width: 50%;
}

.max_width{
  width: 100%;
}

.boldtext{
  font-weight: bold;
}

.stat_container{
  display: flex;
  align-items: center;
  text-align: left;
}

.stat_container, .flavor_text{
  padding: 0.8vh 0;
}

.stat_name{
  padding-right: 5%;
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
}

.flexwrap{
  display: flex;
  flex-wrap: wrap;
}