.SearchMonsArea {
  padding: 2em 1em 0em 1em;
  max-width: 25vw;
  flex: none;
  max-height: 100%;
}

@media (max-width: 600px) {
  .SearchMonsArea{
    display: none;
  }
}

.input{
  width: 90%;
  border-radius: 100px;
  height: 2.4em;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.8em;
  background-size: 1em;
  padding-left: 2.5em;
  border-color: black;
  border-style: solid;
}

.mon_container {
  padding: 0.2em;
}

.mon_link {
  color: unset;
  text-decoration: none;
  display: flex;
}

.mon_number{
  width: 30%;
}

.mon_container:hover {
  color: brown;
}

.y_scroll{
  overflow-y: auto;
  max-height: 100%;
}

.padding_top{
  padding-top: 10px;
}
