.Header {
  background-color: #0F2335;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2em;
  font-family: 'Andika', sans-serif;
  text-transform: uppercase;
  align-content: center;
}

.HeaderIconsGroup{
  height: 50px;
}

.Header > * {
  max-height: 100%;
  margin: 0;
}

.Header .title {
  color: white;
}

.Header .HeaderIconsGroup, .Header .HeaderIconsGroup *{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Header .HeaderIconsGroup *{
  height: 100%;
}

.Header .HeaderIconsGroup * img{
  height: 80%;
  padding: 0 .2em;
  display: block;
}
