@import url('https://fonts.googleapis.com/css2?family=Andika&family=Titillium+Web:wght@200;400&display=swap');
body {
  margin: 0;
  background-color: #FDFCFA;
  font-family: 'Titillium Web', sans-serif;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

input[type=search]{
  background-color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #26262689;
  border: solid 3px transparent;
  border-radius: 20px;
}
